<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Gallery</title>
    <!-- todo add stylesheet -->
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Upload</a>
            </li>
        </ul>
    </div>

    <% cats.forEach(cat => {%>
        <div>
            <h5><%= cat.name %></h5>
            <p>
                Age: <% cat.age %>
                Favorite Food: <% cat.favoriteFood %>
                Fun fact: <% cat.funFact %>
            </p>
        </div>
    })
     
    
</body>
</html>